<!DOCTYPE html>
<html>

<head>
  <meta charset="">
  <title>Proyecto integrador 1</title>
  <link rel="stylesheet" href="Pagina.component.css">
</head>

<body>
  <!----------------------------------------------------------------------------->
  <div>
    <img src="imagenes\codoacodo.png" alt="">
    <p>Bs As programación</p>
  </div>
  <!----------------------------------------------------------------------------->
  <div class="row">
    <img src="imagenes\hawaii.jpg" class="imagenFondo">
  </div>
  <!----------------------------------------------------------------------------->
  <div>
    <p>CONOCE A LOS</p>
    <P>ORADORES</P>

    <div class="container">
      <div class="row">
        <div class="card">
          <img class="card-img-top" src="imagenes/steve.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Steve Job</h5>
            <p class="card-text">This card has supporting text below as a natural lead-in to additional content..</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
          </div>
        </div>
        <div class="card">
          <img class="card-img-top" src="imagenes/bill.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Bill Gates</h5>
            <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
          </div>
        </div>
        <div class="card">
          <img class="card-img-top" src="imagenes/ada.jpeg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Ada Love</h5>
            <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
          </div>
        </div>
      </div>
    </div>

    <!----------------------------------------------------------------------------->
    <div>
      <img src="imagenes\honolulu.jpg" alt="">


    </div>
</body>
<footer>
  <div class="row" id="piedepagina">
    <p class="col-12 col-md-6 col-lg-3 text-center text-md-end">Preguntas frecuentes</p>
    <p class="col-12 col-md-6 col-lg-3 text-center text-md-end">Contáctanos</p>
    <p class="col-12 col-md-6 col-lg-3 text-center text-md-end">Prensa</p>
    <p class="col-12 col-md-6 col-lg-3 text-center text-md-end">Conferencias</p>
    <p class="col-12 col-md-6 col-lg-3 text-center text-md-end">Términos y condiciones</p>
    <p class="col-12 col-md-6 col-lg-3 text-center text-md-end">Privacidad</p>
    <p class="col-12 col-md-6 col-lg-3 text-center text-md-end">Estudiantes</p>
  </div>
</footer>

</html>