*{
    margin: 0%;
    padding: 0%;
}
/*  ----------------------------------------------------------------------- */
header{
    background-color: rgb(39, 37, 48);
    color: aliceblue;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.opciones{
    display: flex;
}
#p{
    margin: 1em;
}
.ESI{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
img{
    max-width: 35%;
}


/*  ----------------------------------------------------------------------- */

.imagenFondo{
    max-width: 100%;
    background-position: center;
}


/*  ----------------------------------------------------------------------- */
.Conoce-a-los-oradores{
    margin-right: 250px;
    margin-left: 250px;

}
.oradores{
    max-width: 200px;
}

.row{
    display: flex;
}

.card-img-top{
    max-width: 300px;
    max-height: 300px;
}

/*  ----------------------------------------------------------------------- */

.parte4{
    display: flex;
}
#playa{
    max-width: 50%;
}
.playa-texto{
    background-color: rgb(39, 37, 48);
}
#playa-texto{
    margin: 10px;
    color: aliceblue;
}

/*  ----------------------------------------------------------------------- */
fieldset{
    height: 150px;
}

/*  ----------------------------------------------------------------------- */
#piedepagina{
    background-color: rgb(11, 59, 68);
    color: aliceblue;
    height: 2cm;
    font-size: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}