<!DOCTYPE html>
<html>

<head>
  <meta charset="">
  <title>Proyecto integrador 1</title>
  <link rel="stylesheet" href="Pagina.component.css">
</head>

<body>
  <!----------------------------------------------------------------------------->
  <div>
    <img src="imagenes\codoacodo.png" alt="">
    <p>Bs As programación</p>
  </div>
  <!----------------------------------------------------------------------------->
  <div>
    <img src="imagenes\ba1.jpg" class="imagenFondo">

  </div>
  <!----------------------------------------------------------------------------->
  <div>
    <p>CONOCE A LOS</p>
    <P>ORADORES</P>
    <div class="row">
      <img src="imagenes\steve.jpg" class="oradores">
      <P>Steve Jobs</P>
      <img src="imagenes\bill.jpg" class="oradores">
      <p>Bill Gates</p>
      <img src="imagenes\ada.jpeg" class="oradores">
      <p>Ada Lovelace</p>
    </div>
  </div>
  <!----------------------------------------------------------------------------->
  <div>
    <img src="imagenes\honolulu.jpg" alt="">


  </div>
</body>
<footer>
  <div class="row">
    <p class="col-12 col-md-6 col-lg-3 text-center text-md-end">Preguntas frecuentes</p>
    <p class="col-12 col-md-6 col-lg-3 text-center text-md-end">Contáctanos</p>
    <p class="col-12 col-md-6 col-lg-3 text-center text-md-end">Prensa</p>
    <p class="col-12 col-md-6 col-lg-3 text-center text-md-end">Conferencias</p>
    <p class="col-12 col-md-6 col-lg-3 text-center text-md-end">Términos y condiciones</p>
    <p class="col-12 col-md-6 col-lg-3 text-center text-md-end">Privacidad</p>
    <p class="col-12 col-md-6 col-lg-3 text-center text-md-end">Estudiantes</p>
  </div>
</footer>

</html>