*{
    margin: 0%;
    padding: 0%;
}
img{
    max-width: 15%;
}

/*  ----------------------------------------------------------------------- */

.imagenFondo{
    max-width: 100%;
    background-position: center;
}


/*  ----------------------------------------------------------------------- */
.oradores{
    max-width: 200px;
}

.row{
    display: flex;
}

.card-img-top{
    max-width: 200px;
    max-height: 200px;
}

/*  ----------------------------------------------------------------------- */

#piedepagina{
    font-size: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}